<div class="navigation-bar">
  <div>
     <img src="{{ asset('images/Shoppingdroite.png') }}" alt="logo" width="100" height="100">
  </div>
  <h1> <a href="{{ path('app_accueil')}}">Panier Malin</a></h1>
  <div>
    <img src="{{ asset('images/Shoppinggauche.png') }}" alt="logo" width="100" height="100">
  </div>
</div>


<div class="admin">
  <a href="{{ path('app_article_index') }}">Article</a>
  <a href="{{ path('app_type_article_index') }}">Type-Article</a>
</div>