{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div class="pageshowlist">
        <h1>Article</h1>

        <div class="pagearticle">
            <div class="descarticle">
                <div>Id</div>
                <div>NomArticle</div>
                <div>Prix</div>
                <div>actions</div>
            </div>
            <div class="toutarticle">
            {% for article in articles %}
                <div class="indexarticle">
                    <div class="idarticle">{{ article.id }}</div>
                    <div class="nomarticle">{{ article.nomArticle }}</div>
                    <div class="prixarticle">{{ article.prix }}</div>
                    <div><a href="{{ path('app_article_edit', {'id': article.id}) }}">Modifier</a></div>
                </div>
            {% else %}
                <div>
                    <div colspan="4">no records found</div>
                </div>
            {% endfor %}
            </div>
        </div>

        <a href="{{ path('app_article_new') }}" class="btn-newarticle"><button>Créer un Article</button></a>
    </div>
{% endblock %}
