{% extends 'base.html.twig' %}

{% block title %}New Liste{% endblock %}

{% block body %}
    <h1>Create new Liste</h1>
    
        <td>{{ liste }}</td>
        <div>
            <div>Articles</div>
            <div>
                {% for article in liste.composes %}
                    {{ article.quantite }}
                    {{ article.idArticle.nomArticle }}
                <br>
                {% endfor %}
            <div>
        </div>
        <div class="container_recherche" id="container_recherche">
            {{ form_start(form) }}
                {{ form_row(form.idArticle) }}
                {{ form_row(form.quantite) }}
                {{ form_row(form.estMarque) }}
                <button type="submit">{{button_label|default("Ajouter à la liste")}}</button>
            {{ form_widget(form) }}
        </div>



    <a href="{{ path('app_user_liste') }}">back to list</a>
{% endblock %}