{% extends 'base.html.twig' %}

{% block title %}New Liste{% endblock %}

{% block body %}

        <div class="ligne2liste">
            <div class="retourBouton">
                <a href="{{ path('app_user_liste') }}">
                    <div id="diagHaut"></div>
                    <div id="horizontal"></div>
                    <div id="diagBas"></div>
                </a>
            </div>
            <div class="infosLigne">
                <h1 class="h1Ligne">{{liste.nomListe}}</h1>
            </div>
            <br/>
            <div class="moinsBouton">
            <form method="post" action="{{ path('app_liste_delete', {'id': liste.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette liste ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste.id) }}">
                <button class="delete-btn-moins"></button>
            </form>
            <form method="post" action="{{ path('app_liste_delete', {'id': liste.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette liste ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste.id) }}">
                <button class="delete-btn"></button>
            </form>
            </div>
        </div>
    
    <div id="containsAll">
        <div id="addArticleContainer">
            <h2>Ajouter un article</h2>
        <div class="container_recherche" id="container_recherche">
            {{ form_start(form) }}
                {{ form_row(form.idArticle) }}
                {{ form_row(form.quantite) }}
                {{ form_row(form.estMarque) }}
                <button type="submit">{{button_label|default("Ajouter")}}</button>
            {{ form_widget(form) }}
        </div>
        </div>

           <div class="toutArticle">
            <h2>PANIER MALIN</h2>
            <h2>{{ liste.dateCreation | date('d/m') }}</h2>
            <p>COMMANDE DE </p>
            <div class="infosTicket"></div>
            <div class="article item_liste infosTicket">
                <div class="defqte">QTE</div>
                <div class="defarticle">ARTICLE</div>
                <div class="defprix">PRIX</div>
                <br>
            </div>
            {% for article in liste.composes %}
            <div class="article item_liste">
                <div class="article_quantite">{{ article.quantite }}</div>
                <div class="article_nom">{{ article.idArticle.nomArticle }}</div>
                <button class="supprimerarticle">-</button>
                <div class="article_prix">{{ article.quantite * article.idArticle.prix }}</div>
                <br>
            </div>
            {% endfor %}
            <div class="infosTicket"></div>
            <div class ="item_liste finticket"><span class="totalticket">NOMBRE D'ARTICLES :</span><span class="nbtotalticket">{{liste.nbProduit()}}</span></div>
            <div class="item_liste finticket"><span class="totalticket">TOTAL :</span><span class="nbtotalticket">{{liste.getPrix()}}</span></div>
            <div class="infosTicket"></div>
            <div id="footerTicket">
                <p>MERCI D'UTILISER PANIER MALIN !</p>
                <div id="codeBarre"></div>
            </div>
        </div>
    </div>
{% endblock %}