{% extends 'base.html.twig' %}

{% block title %}Liste index{% endblock %}

{% block body %}

    <div id="statsContainer">
        <h1>Bonjour, {{ pseudo }}. Voici vos différentes statistiques d'achats :</h1>
        <div class="table center">
            <div class="monitor-wrapper center">
                <div class="monitor center">
                <p>Nombre d'articles : <font color="FF0000">{{ user.getNumberOfArticles }}</font>, Prix total : <font color="FF0000">{{ user.getPrixTotal }}</font> €, Prix moyen des articles : <font color="FF0000">{{ user.getPrixMoyenArticleParListe }} </font>€, Prix de l'article le plus cher : <font color="FF0000">{{ user.getPrixMaxArticleParListe }} </font>€, Prix de l'article le moins cher : <font color="FF0000">{{ user.getPrixMinArticleParListe }} </font>€</p>
                </div>
            </div>
        </div>
    </div>


    <div id="toutAccueil">
    <br/>
    <a href="{{ path('app_user_liste_new') }}">
        <div id="plusBouton">
                <div id="vertical"></div>
                <div id="horizontal"></div>
        </div>
    </a>
<br/>
    <div id="derniereListeContainer">
        <div id="derniereLigne1">
            <div id="#dernLeftLigne" class="Ligne"></div>
            <h1>Dernière liste</h1>
            <div id="#dernRightLigne" class="Ligne"></div>
        </div>
        {% if derniereListeId == null %}
            <h1 class="h1Ligne">Vous n'avez pas encore créé de liste</h1>
        {% else %}
            <div id="derniereLigne2">
                <div class="infosLigne">
                    <a href="{{ path('app_user_liste_id', {'id': derniereListeId}) }}"><h1 class="h1Ligne">{{derniereListe.nomListe}} &nbsp;-&nbsp; {{derniereListe.dateCreation | date('d/m/y')}}</h1></a>
                </div>
                <br/>
                <div class="moinsBouton">
                <form method="post" action="{{ path('app_liste_delete', {'id': derniereListeId}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette liste ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ derniereListeId) }}">
                    <button class="delete-btn-moins"></button>
                </form>
                <form method="post" action="{{ path('app_liste_delete', {'id': derniereListeId}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette liste ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ derniereListeId) }}">
                    <button class="delete-btn"></button>
                </form>
                </div>
            </div>
        {% endif %}
    </div>


    {% if listeListesRegroup == null %}
        
    {% else %}
        {% for i in 0..listeListesRegroup|length-1 %}

            <div class="derniereListeContainer">
                <div class="ligne1liste">
                    <div id="#LeftLigne" class="LeftLigne"></div>
                    <h1>{{ listeDates[i] | date('d/m/y') }}</h1>
                    <div id="#RightLigne" class="RightLigne"></div>
                </div>
                <div class="listeRegroup">
                {% for j in 0..listeListesRegroup[i]|length-1 %}
                    <div class="ligne2liste">
                        <div class="infosLigne">
                            <a href="{{ path('app_user_liste_id', {'id': listeListesRegroup[i][j].id}) }}"><h1 class="h1Ligne">{{listeListesRegroup[i][j].nomListe}}</h1></a>
                        </div>
                        <br/>
                        <div class="moinsBouton">
                        <form method="post" action="{{ path('app_liste_delete', {'id': listeListesRegroup[i][j].id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette liste ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ listeListesRegroup[i][j].id) }}">
                            <button class="delete-btn-moins"></button>
                        </form>
                        <form method="post" action="{{ path('app_liste_delete', {'id': listeListesRegroup[i][j].id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette liste ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ listeListesRegroup[i][j].id) }}">
                            <button class="delete-btn"></button>
                        </form>
                        </div>
                    </div>
                {% endfor %}
                </div>

            </div>
        {% endfor %}
    {% endif %}

    </div>
{% endblock %}
