{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <div class="pageshowlist">
        <div class="liste">
                <div class="ligne2listeNoSPBTW">
                <a href="{{ path('app_user_liste') }}">
                    <div class="retourBouton"></div>
                </a>
                <div class="infosLigne">
                    <h1 class="h1Ligne">{{liste.nomListe}}</h1>
                </div>
                <br/>
                <div class="moinsBouton">
                <form method="post" action="{{ path('app_liste_delete', {'id': liste.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette liste ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste.id) }}">
                    <button class="delete-btn-moins"></button>
                </form>
                <form method="post" action="{{ path('app_liste_delete', {'id': liste.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette liste ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste.id) }}">
                    <button class="delete-btn"></button>
                </form>
                </div>
            </div>
            <div class="toutArticle">
                <h2>PANIER MALIN</h2>
                <h2>{{ liste.dateCreation | date('d/m') }}</h2>
                <p>COMMANDE DE {{createur.pseudo}}</p>
                <div class="infosTicket"></div>
                <div class="article item_liste infosTicket">
                    <div class="defqte">QTE</div>
                    <div class="defarticle">ARTICLE</div>
                    <div class="defprix">PRIX</div>
                    <br>
                </div>

                {% for article in liste.composes %}
            

                <div class="article item_liste">
                    <div class="article_quantite">{{ article.quantite }}</div>
                    <div class="article_nom">{{ article.idArticle.nomArticle }}</div>

                    <form action="{{ path('app_user_liste_id_cocher', {'id': liste.id}) }}" method="get">
                        <input type="checkbox" name="estMarque" id="checkboxAchete" {% if article.estMarque %}checked{% endif %}>
                        <input type="hidden" name="idArticle" value="{{article.idArticle.id}}">
                        <input type="hidden" name="idListe" value="{{liste.id}}">
                        <input type="hidden" name="quantite" value="{{article.quantite}}">
                        <button type="submit" class="btnCheck">yipi</button>
                    </form>

                    <form method="post" action="{{ path('app_compose_delete', {'id': article.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cette liste ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                            <button class="supprimerarticle">-</button>
                    </form>
                    <div class="article_prix">{{ article.quantite * article.idArticle.prix }}</div>
                    <br>
                </div>
                {% endfor %}
                <div class="infosTicket"></div>
                <div class ="item_liste finticket"><span class="totalticket">NOMBRE D'ARTICLES :</span><span class="nbtotalticket">{{liste.nbProduit()}}</span></div>
                <div class="item_liste finticket"><span class="totalticket">TOTAL :</span><span class="nbtotalticket">{{liste.getPrix()}}</span></div>
                <div class="infosTicket"></div>
                <div id="footerTicket">
                    <p>MERCI D'UTILISER PANIER MALIN !</p>
                    <div id="codeBarre"></div>
                </div>
            </div>
        </div>

        <div id="addArticleContainer">
            <h2>Ajouter un article</h2>
            <div class="container_recherche" id="container_recherche">
                {{ form_start(form) }}
                    {{ form_row(form.idArticle) }}
                    {{ form_row(form.quantite) }}
                    {{ form_row(form.estMarque) }}
                    <button type="submit">{{button_label|default("Ajouter")}}</button>
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
        
        <div class="collaborateur">
            <h1>Collaborateurs</h1>
            <div id="listeCollab">
                {% for collaborateur in collaborateurs %}
                    <div id="ligneCollab">
                        <span>{{ collaborateur }}</span>
                        <form action="{{ path('app_user_liste_id_supprimer_collab', {'id': liste.id}) }}" method="get" class="supprCollab">
                            <input class="form-collab"type="text" name="pseudo" value="{{collaborateur}}" hidden>
                            <button id="moinsCollab"type="submit"></button>
                        </form>
                    </div>
                    <br>
                {% endfor %} 
            </div>
            <h2>Ajouter un collaborateur</h2>
            {% if app.request.get('error') == 'userNotFound' %}
                <p class="error">Utilisateur non trouvé</p>
            {% endif %}
            {% if app.request.get('error') == 'alreadyCollaborator' %}
                <p class="error">Utilisateur déjà collaborateur</p>
            {% endif %}
            <div>
                <form action="{{ path('app_user_liste_id_collaborer', {'id': liste.id}) }}" method="get" class="formcollaborateur">
                    <input class="form-collab"type="text" name="pseudo" placeholder="Pseudo">
                    <button id="btncollaborateur"type="submit">
                        <div id="plusBouton">
                            <div id="vertical"></div>
                            <div id="horizontal"></div>
                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}