{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <a href="{{ path('app_user_liste') }}" class="back">◄</a>
    <div class="pageshowlist">
        <div class="liste">
            <div class="infoliste">
                <div class="nomliste">
                    <div>NomListe : {{ liste.nomListe }}</div>
                </div>
                <div class="dateCreationliste">
                    <div>Date : {{ liste.dateCreation }}</div>
                </div>
            </div>
            <div class="toutArticle">
                <div class="article item_liste">
                    <div class="defqte">Qte</div>
                    <div class="defarticle">Article</div>
                    <div class="defprix">Prix</div>
                    <br>
                </div>
                <div class="barliste"></div>
                {% for article in liste.composes %}
                <div class="article item_liste">
                    <div class="article_quantite">{{ article.quantite }}</div>
                    <div class="article_nom">{{ article.idArticle.nomArticle }}</div>
                    <button class="supprimerarticle">-</button>
                    <div class="article_prix">{{ article.quantite * article.idArticle.prix }}</div>
                    <br>
                </div>
                {% endfor %}
                <div class="barliste"></div>
                <div class ="item_liste finticket"><span class="totalticket">Nombre d'Article</span><span class="nbtotalticket">{{liste.nbProduit()}}</span></div>
                <div class="item_liste finticket"><span class="totalticket">Total</span><span class="nbtotalticket">{{liste.getPrix()}}</span></div>
                <div class="barliste"></div>
            </div>
        </div>
    </div>
    <div class="collaborateur">
        {#<div>Collaborateurs</div>
        <div>
             {% for collaborateur in liste.collaborateurs %}
                {{ collaborateur.idUser.pseudo }}
                <br>
            {% endfor %} 
        </div>#}
        <h1>Ajouter un collaborateur</h1>
        <div>
            <form action="{{ path('app_user_liste_id_collaborer', {'id': liste.id}) }}" method="get" class="formcollaborateur">
                <input class="form-pseudo"type="text" name="pseudo" placeholder="Pseudo">
                <button id="btncollaborateur"type="submit">
                    <div id="plusBouton">
                        <div id="vertical"></div>
                        <div id="horizontal"></div>
                    </div>
                </button>
            </form>
        </div>
    </div>
{% endblock %}