{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <h1>Liste</h1>
    <div>
        <div>Collaborateurs</div>
        <div>
            {# {% for collaborateur in liste.collaborateurs %}
                {{ collaborateur.idUser.pseudo }}
                <br>
            {% endfor %} #}
        </div>
        <span>Ajouter un collaborateur</span>
        <div>
            <form action="{{ path('app_user_liste_id_collaborer', {'id': liste.id}) }}" method="get">
                <input type="text" name="pseudo" placeholder="Pseudo">
                <button type="submit">Ajouter</button>
            </form>
        </div>
    </div>
    <div class="pageshowlist">
        <div class="liste">
            <div class="infoliste">
                <div class="nomliste">
                    <div>NomListe</div>
                    <div>{{ liste.nomListe }}</div>
                </div>
                <div class="dateCreationliste">
                    <div>DateCreation</div>
                    <div>{{ liste.dateCreation }}</div>
                </div>
            </div>
            <div>
                <div>Articles</div>
                <div>
                    {% for article in liste.composes %}
                    {{ article.quantite }}
                    {{ article.idArticle.nomArticle }} {{ article.quantite * article.idArticle.prix }} <br>
                    {% endfor %}
                <div>
            </div>
        </div>
    </div>
    <a href="{{ path('app_user_liste') }}">back to list</a>

    {{ include('liste/_delete_form.html.twig') }}
{% endblock %}