{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <h1>Liste</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ liste.id }}</td>
            </tr>
            <tr>
                <th>NomListe</th>
                <td>{{ liste.nomListe }}</td>
            </tr>
            <tr>
                <th>DateCreation</th>
                <td>{{ liste.dateCreation }}</td>
            </tr>
            <tr>
                <th>Articles</th>
                <td>
                {% for article in liste.composes %}
                {{ article.quantite }}
                {{ article.idArticle.nomArticle }} {{ article.quantite * article.idArticle.prix }} <br>
                {% endfor %}
                <td>
            </tr>

        </tbody>
    </table>
    <div>
        <h2>Ajouter un article</h2>

        {{ form_start(form) }}
            {{ form_row(form.idListe) }}
            {{ form_row(form.idArticle) }}
            {{ form_row(form.quantite) }}
            {{ form_row(form.estMarque) }}
            <button type="submit">{{button_label|default("Ajouter à la liste")}}</button>
        {{ form_widget(form) }}
    </div>

    <a href="{{ path('app_user_liste') }}">back to list</a>

    <a href="{{ path('app_liste_edit', {'id': liste.id}) }}">edit</a>

    {{ include('liste/_delete_form.html.twig') }}
{% endblock %}